/*input{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.container-main{
	padding: 0 30%;
	font-size: large;
}

button{
	width: 100px;
	padding: 5px;
	font-size: large;
}*/