<%- layout("./boilerplate/boilerplate.ejs") %>
	<link rel="stylesheet" type="text/css" href="/style/error.css">
	<div class="error">
		<h1> <%=error.name%> <h1>
		<h2> <%=error.message%> <%=error.msg%></h2>
	</div>